@font-face {
  font-family: "Hubot Sans";
  src: url("Hubot-Sans.woff2") format("woff2 supports variations"),
    url("Hubot-Sans.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

:root {
  --primary-color: #007bff;
  --secondary-color: yellow;
  --foreground-color: #000;
  --background-color: #fdf5e6;
  --dot-count: 50; /* Default, overwritten by JavaScript */
  --line-threshold: 100; /* Default, overwritten by JavaScript */
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
}

svg path {
  stroke: var(--stroke-color);
  stroke-width: var(--stroke-width);
}

svg circle {
  fill: var(--primary-color);
}

::selection {
  background-color: yellow;
  color: #000;
}

html {
  font-family: "Hubot Sans";
}

body {
  font-family: "Hubot Sans", sans-serif;
  margin: 0;
  padding: 0;
  background: var(--background-color);
  line-height: 1.6;
  height: 100vh; /* Full height */
  margin-top: 24px;
  -webkit-font-smoothing: antialiased;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  max-height: 50px;
}

#header-logo {
  width: 56px;
  height: 56px;
  margin-right: 8px;
}

#nav-placeholder {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

nav {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

nav a#logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
}

nav a#logo.current::after,
nav a#logo.current::before {
  content: none;
}

nav a {
  text-decoration: none;
  color: var(--foreground-color);
}

nav a:hover {
  color: var(--primary-color);
}

nav a.current {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

nav a#logo.current,
nav a#logo:hover {
  color: var(--foreground-color);
  border-bottom: none;
}

nav #links {
  display: flex;
  gap: 24px;
}

nav #links a {
  white-space: nowrap;
}

a.nav-item {
  position: relative;
  padding-bottom: 8px;
}

.nav-item::before,
.nav-item::after {
  content: "";
  position: absolute;
  bottom: -3.5px; /* Position the dots below the border */
  width: 6px; /* Dot size */
  height: 6px; /* Dot size */
  background-color: var(--primary-color);
  border-radius: 50%; /* Makes the dots circular */
  opacity: 0; /* Initially hidden */
  transform: scale(0.8); /* Slightly smaller, for transition effect */
}

.nav-item::before {
  left: 0; /* Dot on the left */
  transform-origin: center;
}

.nav-item::after {
  right: 0; /* Dot on the right */
  transform-origin: center;
}

.nav-item.current::before,
.nav-item.current::after {
  opacity: 1; /* Show the dots */
  transform: scale(1); /* Full size */
}

.nav-item {
  border-bottom: 1px solid transparent; /* Default state, no visible line */
}

.nav-item.current {
  border-bottom: 1px solid var(--foreground-color); /* Show the line on hover and for current page */
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 64px;
  color: var(--foreground-color);
  font-weight: 100;
  color: var(--primary-color);
  line-height: 100%;
}

h2 {
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-color);
  margin-top: 48px;
}

p,
ul {
  color: var(--foreground-color);
  font-size: 24px;
  font-weight: 300;
  text-wrap: pretty;
}

p.small {
  font-size: 16px;
  font-weight: 400;
}

p#home-space {
  margin-top: 30%;
}

a {
  color: var(--primary-color);
}

sup {
  font-weight: 600;
  font-size: 12px;
}

sup.external-link {
  rotate: 45deg;
}

p.quote {
  text-indent: -0.35em;
}

hr {
  border: none;
  border-top: 1px solid var(--foreground-color);
}

@media (max-width: 768px) {
  body {
    margin-top: 0;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
  }

  h1 {
    font-size: 40px;
    font-weight: 300;
  }
  p,
  ul {
    font-size: 16px;
    font-weight: 400;
  }
  p.quote {
    font-size: 24px;
    font-weight: 300;
  }
}

.logo-fill {
  fill: var(--color-primary);
}

.logo-line {
  stroke: var(--foreground-color);
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #fdf5e6;
    --background-color: #000;
  }
}
